.box{
    width: 500px;
    height: 300px;
    background-color: red;
    border: 10px solid black;

    /* margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 80px; */

    margin: 50px 30px 20px 80px;
    /* margin: 50px 30px 20px;
    margin: 50px 30px;
    margin: 50px; */

    padding: 10px;

}

.box2{
    width: 200px;
    height: 100px;
    background-color: yellow;
}