:root{
    /* --varName:varvalue; */
    
    --rang:red;
    --secondaryColor:rgb(255, 189, 179);
    --width:400px;
}
.box{
    width:calc(var(--width)*1.5);
    /* width:var(--width); */
    background-color: var(--rang);

    height: 500px;
    color: white;
    border: 10px solid black;
    float: left;
}
.box1{
    width: 400px;
    height: 500px;
    background-color: var(--secondaryColor);
    color: white;
    border: 10px solid var(--rang);
    float: left;

}
.box2{
    width: 400px;
    height: 500px;
    background-color: var(--rang);
    color: white;
    border: 10px solid yellow;
    float: left;

}
